<app-home [message]="'hello message!'"></app-home>
<app-home first></app-home>
<h1 first>Hello World</h1>
<app-home [track]="'I am clicked'" [second]="'hello message!'"></app-home>
<!-- <button online>Random Button</button>
<app-basic></app-basic>
<app-another-template-comp></app-another-template-comp>
<h1 *three>this is a structural directive</h1>
<h1 four>this is a normal directive</h1>
<h1 *five="let message">
  this is a structural directive with input of {{ message }}
</h1>
<h1 *six="let message; from: messages">{{ message }}</h1>
<app-template-storage></app-template-storage>
<button *surround>one</button> -->
